In [23]:
print ("Tugas Praktikum 1")
print ("perkenalkan nama saya Ahmad Bima")
print ("Nim : 2402005")
print ("kelas : TI 3A")
print ("Operasi Penjumlahan")
print ("penjumlahan 15 + 8 + 100 = ",15+8+100)
print ("pengurangan 15 + 8 + 100 = ",15-8-100)
print ("perkalian 15 * 8 * 100 = ",15*8*100)
print ()
print ("menghitung luas persegi panjang")
panjang = 50
lebar = 25.5
luas = panjang * lebar
print ("luas persegi panjang = ", luas)
print ()
print ("menghitung luas segitiga")
alas = 40
tinggi = 60
luas_segitiga = 0.5 * alas * tinggi
print ("luas segitiga = ", luas_segitiga)
print ()
print ("menghitung luas lingkaran")
jari_1 = 7
jari_2 = 7
luas_lingkaran = 3,14*7*7
print ("luas lingkaran = ", luas_lingkaran)

Tugas Praktikum 1
perkenalkan nama saya Ahmad Bima
Nim : 2402005
kelas : TI 3A
Operasi Penjumlahan
penjumlahan 15 + 8 + 100 =  123
pengurangan 15 + 8 + 100 =  -93
perkalian 15 * 8 * 100 =  12000

menghitung luas persegi panjang
luas persegi panjang =  1275.0

menghitung luas segitiga
luas segitiga =  1200.0

menghitung luas lingkaran
luas lingkaran =  (3, 686)

In [28]:
print ("Praktikum algoritma dan pemrograman 1")
print ("Nama : Ahmad Bima Ahsan Fdholah")
print ("NIM : 2402005")
print ("Angkatan : 2024")
print ("Jurusan : Teknik Informatika")
print ("Fakultas Teknik")

Praktikum algoritma dan pemrograman 1
Nama : Ahmad Bima Ahsan Fdholah
NIM : 2402005
Angkatan : 2024
Jurusan : Teknik Informatika
Fakultas Teknik

In [1]:
<?php
echo ("hello")
?>

SyntaxError: invalid syntax (3132183142.py, line 1)

In [10]:
print ("menghitung luas persegi")
sisi= 20
luas = sisi * sisi
print ("luas persegi = ", luas)
print ()
print ("menghitung luas persegi panjang")
panjang = 50
lebar = 25.5
luas = panjang * lebar
print ("luas persegi panjang = ", luas)
print ()
print ("menghitung luas segitiga")
alas = 40
tinggi = 60
luas_segitiga = 0.5 * alas * tinggi
print ("luas segitiga = ", luas_segitiga)
print ()
print ("menghitung luas lingkaran")
jari_1 = 7
jari_2 = 7
luas_lingkaran = 3,14*7*7
print ("luas lingkaran = ", luas_lingkaran)
print ()
print ("menghitung luas trapesium")
alas1 = 5
alas2 = 5
tinggi = 10
luas_trapesium = 1,2*(alas1+alas2)*tinggi
print ("luas trapesium = ", luas_trapesium)
print ()

menghitung luas persegi
luas persegi =  400

menghitung luas persegi panjang
luas persegi panjang =  1275.0

menghitung luas segitiga
luas segitiga =  1200.0

menghitung luas lingkaran
luas lingkaran =  (3, 686)

menghitung luas trapesium
luas trapesium =  (1, 200)

In [8]:
a = 9   
b = 4  
print("a & b =", a & b)  
print("a | b =", a | b)   
print("~a =", ~a)         
print("a ^ b =", a ^ b)

a & b = 0
a | b = 13
~a = -10
a ^ b = 13

In [9]:
print ("Operasi Penjumlahan")
print ("penjumlahan 15 + 8 + 100 = ",15+8+100)
print ("pengurangan 15 + 8 + 100 = ",15-8-100)
print ("perkalian 15 * 8 * 100 = ",15*8*100)
print ()

Operasi Penjumlahan
penjumlahan 15 + 8 + 100 =  123
pengurangan 15 + 8 + 100 =  -93
perkalian 15 * 8 * 100 =  12000

In [2]:
nilai_akhir = int (input("input sampai bilangan : "))
for i in range (nilai_akhir+1):
    print (i,end=" ")

input sampai bilangan :  70

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70

In [3]:
for i in range(101):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [36]:
print ("matrik a = ")
print ("[1, 2, 3]")
print ("[4, 5, 6]")
print ("[7, 8, 9]")
print ()
print ("matrik b = ")
print ("[9, 8, 7]")
print ("[4, 5, 6]")
print ("[7, 8, 9]")
print ()
matriks1 = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]]
matriks2 = [
    [9, 8, 7],
    [6, 5, 4],
    [3, 2, 1]]
hasil = []
for i in range(len(matriks1)):
    baris = []
    for j in range(len(matriks1[0])):
        baris.append(matriks1[i][j] + matriks2[i][j])
    hasil.append(baris)

print("Hasil penjumlahan dua matriks:")
for r in hasil:
    print(r)

matrik a =
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

matrik b =
[9, 8, 7]
[4, 5, 6]
[7, 8, 9]

Hasil penjumlahan dua matriks:
[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

In [28]:
    harga = int(input("Masukkan harga barang: "))
    jumlah = int(input("Masukkan jumlah barang: "))
    
    subtotal = harga * jumlah
print("\n===================================")
print("Total seluruh pembelian: ", subtotal)
print("===================================")

Masukkan harga barang:  10000
Masukkan jumlah barang:  3

===================================
Total seluruh pembelian:  30000
===================================

In [30]:
n = int(input("Masukkan banyaknya bilangan: "))
genap = 0
ganjil = 0
for i in range(1, n + 1):
    bilangan = int(input(f"Masukkan bilangan ke-{i}: "))
    if bilangan % 2 == 0:
        genap += 1
    else:
        ganjil += 1

print("\n==============================")
print(f"Jumlah bilangan genap  : {genap}")
print(f"Jumlah bilangan ganjil : {ganjil}")
print("==============================")

Masukkan banyaknya bilangan:  7
Masukkan bilangan ke-1:  24
Masukkan bilangan ke-2:  13
Masukkan bilangan ke-3:  25
Masukkan bilangan ke-4:  17
Masukkan bilangan ke-5:  76
Masukkan bilangan ke-6:  39
Masukkan bilangan ke-7:  60

==============================
Jumlah bilangan genap  : 3
Jumlah bilangan ganjil : 4
==============================

In [32]:
awal = int(input("Masukkan bilangan awal: "))
akhir = int(input("Masukkan bilangan akhir: "))

print(f"\nBilangan kelipatan 3 antara {awal} dan {akhir} adalah:")

for i in range(awal, akhir + 1):
    if i % 3 == 0:
        print(i, end=" ")

Masukkan bilangan awal:  2
Masukkan bilangan akhir:  6

Bilangan kelipatan 3 antara 2 dan 6 adalah:
3 6

In [33]:
n = int(input("Bilangan : "))
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end="")
    print()

Bilangan :  10

1
12
123
1234
12345
123456
1234567
12345678
123456789
12345678910

In [35]:
n = int(input("Masukkan jumlah mahasiswa: "))

print("\nNo.\tNama Mhs\tN.Tugas\tN.Kuis\tN.UTS\tN.UAS\tNilai Akhir")


for i in range(1, n + 1):
    print(f"\nData Mahasiswa ke-{i}")
    nama = input("Nama Mahasiswa : ")
    tugas = float(input("Nilai Tugas  : "))
    kuis = float(input("Nilai Kuis   : "))
    uts = float(input("Nilai UTS    : "))
    uas = float(input("Nilai UAS    : "))

    
    nilai_akhir = (0.2 * tugas) + (0.1 * kuis) + (0.3 * uts) + (0.4 * uas)

   
    print(f"{i}\t{nama}\t{tugas:.1f}\t{kuis:.1f}\t{uts:.1f}\t{uas:.1f}\t{nilai_akhir:.2f}")

Masukkan jumlah mahasiswa:  2

No.	Nama Mhs	N.Tugas	N.Kuis	N.UTS	N.UAS	Nilai Akhir

Data Mahasiswa ke-1

Nama Mahasiswa :  Bima
Nilai Tugas  :  90
Nilai Kuis   :  87
Nilai UTS    :  90
Nilai UAS    :  95

1	Bima	90.0	87.0	90.0	95.0	91.70

Data Mahasiswa ke-2

Nama Mahasiswa :  Nopin
Nilai Tugas  :  90
Nilai Kuis   :  87
Nilai UTS    :  90
Nilai UAS    :  95

2	Nopin	90.0	87.0	90.0	95.0	91.70